.table {
    tr {
        td {
            img {
                width: 80px;
                height: 80px;
                -o-object-fit: scale-down;
                object-fit: scale-down;
            }
        }
    }
}
td {
    color:var(--primary-color);
    i {
        cursor: pointer;
    }
}
